In [ ]:
import pandas as pd
import copy

In [ ]:
data = pd.read_csv('state_data_2019.csv')

In [ ]:
# dropping categorical columns that are already dichotomonized

columns_to_be_dropped = [q for q in data.columns if q[0] == 'q' and q[1] != 'n']
data = data.drop(columns = columns_to_be_dropped)

In [ ]:
# dropping unnecesary columns

data = data.drop(columns=['sitename','sitetype','sitetypenum','year','survyear','record'])

In [ ]:
# using race7 only

data = data.drop(columns = ['race4'])

In [ ]:
# dropping observations where the suicide attempt column is not present

data = data.dropna(subset = ['qn28'])

In [ ]:
predictors = data.drop(columns = ['qn26','qn27','qn28','qn29'], inplace = False)

suicide_attempt = (data['qn28'] == 1).astype(int)

In [ ]:
data

,sitecode,weight,stratum,PSU,age,sex,grade,race7,stheight,stweight,...,qnwenthungry,qnmusclestrength,qnsunscreenuse,qnindoortanning,qnsunburn,qnconcentrating,qncurrentasthma,qnwheresleep,qnspeakenglish,qntransgender
0,Alaska,4.7946,11,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,14.3743,3,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alaska,3.0286,7,10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alaska,5.3658,7,8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alaska,21.7647,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182485,West Virginia,68.4095,13,1,18 years old or older,Female,11th,White,1.73,68.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182486,West Virginia,87.0022,13,1,18 years old or older,Female,12th,White,1.75,90.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182487,West Virginia,157.7903,15,1,18 years old or older,Female,12th,White,1.63,79.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182489,West Virginia,157.7903,15,1,18 years old or older,Female,12th,White,1.63,71.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182490,West Virginia,157.7903,15,1,18 years old or older,Female,12th,White,1.68,86.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

data_processed_for_training = data.iloc[:,0:4]

for column in predictors.columns[4:9]:
    dummy_columns = pd.get_dummies(predictors[column], prefix = column)
    dummy_columns = dummy_columns.drop(columns = [column + '_NaN'], errors = 'ignore')
    data_processed_for_training = data_processed_for_training.join(dummy_columns)

for column in predictors.columns[9:13]:
    data_processed_for_training = data_processed_for_training.join(predictors[column])

for column in predictors.columns[13:]:
    dummy_columns = pd.get_dummies(predictors[column], prefix = column)
    dummy_columns = dummy_columns.drop(columns = [column + '_NaN'], errors = 'ignore')
    data_processed_for_training = data_processed_for_training.join(dummy_columns)

data_processed_for_training = data_processed_for_training.fillna(0)

data_processed_for_training = data_processed_for_training.join(suicide_attempt)

In [ ]:
data_processed_for_training.to_csv('state_data_2015-2019_processed_training.csv', index = False)